{# app/Resources/views/Client/validationSession.html.twig #}
<h3>Validation Session</h3>

Bonjour {{ name }}! Nous vous confirmons que vous êtes bien inscrits à la session de {{session.dateDebut|date('d-m-Y')}} pour la formation {{session.formation.libelle}} ! 

Cordialement !
FORM ARMOR